@use '../base/helpers' as *;

.base {
    &__card {
        text-decoration: unset;
        display: block;

        &--video {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 150px;
                left: 50%;
                transform: translate(-50%, calc(-50% - 23px));
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 16px 0 16px 28px;
                border-color: transparent transparent transparent #fff;
                pointer-events: none;
                z-index: 1;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 16px;
        }
        &-img {
            border-radius: 32px;
            overflow: hidden;
            object-fit: cover;
            height: 229px;
            width: 100%;
        }
        &-title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 15px;
            font-size: clamp(1.125rem, 0.9063rem + 0.625vw, 1.375rem);
            line-height: 125%;
        }
        &-description {
            color: #1f1f1f;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 15px;
            font-size: clamp(0.875rem, 0.7656rem + 0.3125vw, 1rem);
        }
        &-date {
            color: #1f1f1f4d;
            font-size: 12px;
        }
    }

    &__page {
        &-grid {
            display: grid;
            grid-template-rows: 1fr;
            gap: 24px;
            .inner {
                min-width: 0;
            }
            &--2 {
                grid-template-columns: 340px 1fr;
                gap: 32px;
                @include to(1280) {
                    gap: 16px;
                    grid-template-columns: 1fr;
                }
            }
            &--3 {
                grid-template-columns: 340px 1fr 340px;
                gap: 32px;
                @include to(1280) {
                    gap: 16px;
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

.faq {
    &__item {
        background-color: #f7f7f7;
        transition: all 0.3s ease;
        border-radius: 40px;
        overflow: hidden;
        @include mobile {
            border-radius: 24px;
        }
        &-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 28px 28px;
            border: none;
            cursor: pointer;
            font-size: clamp(1.125rem, 0.9063rem + 0.625vw, 1.375rem);
            font-weight: 600;
            color: #1f1f1f;
            text-align: left;
            transition: background 0.2s;

            @include tablet {
                padding: 20px;
                font-size: 16px;
            }

            &:hover {
                background: rgba(0, 0, 0, 0.02);
            }

            .plus {
                flex-shrink: 0;
                width: 52px;
                height: 32px;
                background-color: #ffffff;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.is-active .icon {
                transform: rotate(45deg);
            }
            &.is-active ~ .faq__item-content {
                padding-bottom: 28px;
            }
        }
    }
}

.not-found {
    &__number {
        display: flex;
        align-items: center;
        gap: 1px;
        font-size: clamp(10rem, 2.3438rem + 21.875vw, 18.75rem);
        color: #00b955;
        font-weight: 600;
        line-height: 95%;
        margin-bottom: clamp(2.5rem, 0.3125rem + 6.25vw, 5rem);
        .icon-logo {
            max-width: 242px;
            width: 100%;
            height: 100%;
            @media screen and (max-width: 668px) {
                max-width: 134px;
            }
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 70dvh;
        text-align: center;
        .button {
            margin-top: clamp(1.5rem, 0.625rem + 2.5vw, 2.5rem);
        }
    }
    &__title {
        font-size: clamp(1.75rem, 0.5469rem + 3.4375vw, 3.125rem);
        font-weight: 600;
        margin-bottom: clamp(0.75rem, 0.5313rem + 0.625vw, 1rem);
    }
}
