.cookie-consent {
  position: fixed;
  right: 40px;
  bottom: 40px;
  transform: translateY(150%);
  z-index: 9999;
  max-width: 718px;
  width: 100%;
  background: #fff;
  border-radius: 40px;
  padding: 28px;
  box-shadow: 0px 3px 8px 1px #00000014;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  @media screen and (max-width: 768px) {
    left: 16px;
    right: 16px;
    bottom: 16px;
    padding: 16px;
    max-width: 100%;
    width: auto;

    border-radius: 24px;
  }
  &.is-visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 24px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__text {
    flex: 1;
    font-size: 14px;
    line-height: 1.4;
    color: #1f1f1f;

    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
