.pagination {
  &__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 40px 0;
    @media screen and (max-width: 768px) {
      margin: 24px 0;
    }
    @media screen and (max-width: 580px) {
      .button {
        font-size: 0;
        width: 52px;
        height: 52px;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::after {
          content: '';
          background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_4575_26901' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' transform='matrix(-1 0 0 1 24 0)' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_4575_26901)'%3E%3Cpath d='M10 18L16 12L10 6L8.6 7.4L13.2 12L8.6 16.6L10 18Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A")
            no-repeat center;
          width: 24px;
          height: 24px;
          display: inline-block;
        }
      }
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
    @media screen and (max-width: 768px) {
      gap: 4px;
    }
    &-item {
      &.is-active .pagination__list-link {
        background-color: #f5f5f5;
      }
    }
    &-link {
      width: 52px;
      height: 52px;
      border: 1px solid #f5f5f5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;

      transition: all 0.3s ease;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
