@use '../../base/helpers' as *;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px 36px;

    color: white;
    font-weight: 500;
    font-size: rem(14);
    line-height: 125%;
    white-space: nowrap;

    background-color: #00b955;
    border-radius: 40px;
    width: fit-content;
    text-decoration: unset;
    transition: all 0.4s ease;
    @include hover() {
        opacity: 0.8;
    }

    &--gray {
        background-color: #f7f7f7;
        color: #000000;
    }
    &--white {
        color: #1f1f1f;

        background-color: white;
        @include hover() {
            color: #00b955;
        }
    }
    &--dark {
        backdrop-filter: blur(8px);
        background: #1f1f1f;
    }
    &--light {
        color: $primary;

        background-color: #4675c712;
        border-color: #4675c712;
    }
    &--large {
        width: 100%;
        max-width: 188px;
    }
    &--small {
        padding: 16px 17px;
    }
    &--full {
        width: 100%;
    }

    .icon {
        flex-shrink: 0;
    }
}
